 {% extends "./base/base.html" %} 
    {% block head %}{% endblock head %}

    {% block content %}


    <!-- ------------------------------Hero Section ------------------------------------- -->

    <section class="hero">
      <div class="hero-main-section  container-1">


        <div class="hero-detail">
          <h1>Learn Trending Tech Skills today with Excellent digital express ict academy</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi illum molestias tenetur rem harum porro nesciunt ratione, consequuntur molestiae provident.</p>

          <div class="hero-btn-con">

            <a href="">
              <div class="h-btn-1">              
                <p>Explore</p>
              </div>
            </a>


            <a href="">
              <div class="h-btn-2">
                <p>See our Courses</p>
              </div>
            </a>

          </div>

        </div>


        <div class="hero-image">
          <img src="../static/images/photo_2025-09-29_13-59-12.jpg" alt="">
        </div>

      </div>
    </section>





    <!-- ------------------------------Partners Section ------------------------------------- -->

    <section class="partner">
      <div class="partner-main-con container-1">


            <div class="par-img-con">
              <img src="../static/images/image-3.png" alt="">
            </div>

            <div class="par-img-con">
              <img src="../static/images/image-3.png" alt="">
            </div>



            <div class="par-img-con">
              <img src="../static/images/image-3.png" alt="">
            </div>


            <div class="par-img-con">
              <img src="../static/images/image-3.png" alt="">
            </div>



            <div class="par-img-con">
              <img src="../static/images/image-3.png" alt="">
            </div>

      </div>
    </section>




    <!-- -------------------------------Why section --------------------------------- -->


    <section class="why">
      <div class="big-title-1">
        <h1>Why Train With Us</h1>
      </div>

      <div class="why-main-con container-1">
        



        <div class="why-con">
          <div class="why-image">
            <img src="../static/images/Smiley-woman-having-a-video-call-in-the-office.png" alt="">
          </div>

          <h3>Lorem ipsum dolor sit amet consectetur.</h3>
        </div>







        <div class="why-con">
          <div class="why-image">
            <img src="../static/images/Smiley-woman-having-a-video-call-in-the-office.png" alt="">
          </div>

          <h3>Lorem ipsum dolor sit amet consectetur.</h3>
        </div>









        <div class="why-con">
          <div class="why-image">
            <img src="../static/images/Smiley-woman-having-a-video-call-in-the-office.png" alt="">
          </div>

          <h3>Lorem ipsum dolor sit amet consectetur.</h3>
        </div>











        <div class="why-con">
          <div class="why-image">
            <img src="../static/images/Smiley-woman-having-a-video-call-in-the-office.png" alt="">
          </div>

          <h3>Lorem ipsum dolor sit amet consectetur.</h3>
        </div>




      </div>
    </section>





    <!-- -------------------------------counter section --------------------------------- -->

    <section class="number-count">

      <div class="big-title-1">
        <h1 class="count-head">Our Numbers in Power</h1>
      </div>


      <div class="count-main-con container-1">


      <div class="count-con-1">
        <div class="count-con-2">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="54" viewBox="0 0 24 24"><g fill="none" stroke="#dbebfe" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M16 2v4M8 2v4m13 6c0-3.771 0-5.657-1.172-6.828S16.771 4 13 4h-2C7.229 4 5.343 4 4.172 5.172S3 8.229 3 12v2c0 3.771 0 5.657 1.172 6.828S7.229 22 11 22M3 10h18"/><path d="M18.267 18.701L17 18v-1.733M21 18a4 4 0 1 1-8 0a4 4 0 0 1 8 0"/></g></svg>
          </span>
          <h1 class="js-scroll-counter" data-count="150" data-duration="2000" data-easing="easeOutQuad">0</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
        </div>
      </div>







      <div class="count-con-1">
        <div class="count-con-2">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="54" viewBox="0 0 24 24"><g fill="none" stroke="#dbebfe" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M16 2v4M8 2v4m13 6c0-3.771 0-5.657-1.172-6.828S16.771 4 13 4h-2C7.229 4 5.343 4 4.172 5.172S3 8.229 3 12v2c0 3.771 0 5.657 1.172 6.828S7.229 22 11 22M3 10h18"/><path d="M18.267 18.701L17 18v-1.733M21 18a4 4 0 1 1-8 0a4 4 0 0 1 8 0"/></g></svg>
          </span>
          <h1 class="js-scroll-counter" data-count="3500" data-duration="2500" data-easing="linear">0</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
        </div>
      </div>









      <div class="count-con-1">
        <div class="count-con-2">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="54" viewBox="0 0 24 24"><g fill="none" stroke="#dbebfe" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M16 2v4M8 2v4m13 6c0-3.771 0-5.657-1.172-6.828S16.771 4 13 4h-2C7.229 4 5.343 4 4.172 5.172S3 8.229 3 12v2c0 3.771 0 5.657 1.172 6.828S7.229 22 11 22M3 10h18"/><path d="M18.267 18.701L17 18v-1.733M21 18a4 4 0 1 1-8 0a4 4 0 0 1 8 0"/></g></svg>
          </span>
          <h1 class="js-scroll-counter" data-count="12" data-duration="1500" data-easing="easeOutQuad">0</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
        </div>
      </div>










      <div class="count-con-1">
        <div class="count-con-2">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="54" viewBox="0 0 24 24"><g fill="none" stroke="#dbebfe" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M16 2v4M8 2v4m13 6c0-3.771 0-5.657-1.172-6.828S16.771 4 13 4h-2C7.229 4 5.343 4 4.172 5.172S3 8.229 3 12v2c0 3.771 0 5.657 1.172 6.828S7.229 22 11 22M3 10h18"/><path d="M18.267 18.701L17 18v-1.733M21 18a4 4 0 1 1-8 0a4 4 0 0 1 8 0"/></g></svg>
          </span>
          <h1 class="js-scroll-counter" data-count="3500" data-duration="2500" data-easing="linear">0</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
        </div>
      </div>










      </div>
    </section>







    <!-- ----------------------------------course section ---------------------------- -->

    <section class="carousel-main-con">
      <div class="carousel-container">
      <div class="carousel" id="carousel">
        <a href="#" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=1" alt="Course 1">
          <div class="carousel-content">
            <h3>Web Development Bootcamp</h3>
            <p>Learn HTML, CSS, JS, and more to become a web developer.</p>
          </div>
        </a>

        <a href="#" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=2" alt="Course 2">
          <div class="carousel-content">
            <h3>UI/UX Design</h3>
            <p>Master the principles of design and create sleek interfaces.</p>
          </div>
        </a>

        <a href="#" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=3" alt="Course 3">
          <div class="carousel-content">
            <h3>Data Science with Python</h3>
            <p>Analyze data and build predictive models with Python.</p>
          </div>
        </a>

        <a href="#" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=4" alt="Course 4">
          <div class="carousel-content">
            <h3>Mobile App Development</h3>
            <p>Build cross-platform apps with Flutter and React Native.</p>
          </div>
        </a>

        <a href="#" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=5" alt="Course 5">
          <div class="carousel-content">
            <h3>Cybersecurity Essentials</h3>
            <p>Learn to secure networks, applications, and data systems.</p>
          </div>
        </a>



        <a href="#" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=2" alt="Course 2">
          <div class="carousel-content">
            <h3>UI/UX Design</h3>
            <p>Master the principles of design and create sleek interfaces.</p>
          </div>
        </a>

        <a href="#" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=3" alt="Course 3">
          <div class="carousel-content">
            <h3>Data Science with Python</h3>
            <p>Analyze data and build predictive models with Python.</p>
          </div>
        </a>




        <a href="#" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=2" alt="Course 2">
          <div class="carousel-content">
            <h3>UI/UX Design</h3>
            <p>Master the principles of design and create sleek interfaces.</p>
          </div>
        </a>

        <a href="#" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=3" alt="Course 3">
          <div class="carousel-content">
            <h3>Data Science with Python</h3>
            <p>Analyze data and build predictive models with Python.</p>
          </div>
        </a>



        <a href="#" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=2" alt="Course 2">
          <div class="carousel-content">
            <h3>UI/UX Design</h3>
            <p>Master the principles of design and create sleek interfaces.</p>
          </div>
        </a>

        <a href="#" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=3" alt="Course 3">
          <div class="carousel-content">
            <h3>Data Science with Python</h3>
            <p>Analyze data and build predictive models with Python.</p>
          </div>
        </a>




        <a href="#" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=2" alt="Course 2">
          <div class="carousel-content">
            <h3>UI/UX Design</h3>
            <p>Master the principles of design and create sleek interfaces.</p>
          </div>
        </a>

        <a href="#" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=3" alt="Course 3">
          <div class="carousel-content">
            <h3>Data Science with Python</h3>
            <p>Analyze data and build predictive models with Python.</p>
          </div>
        </a>





        <a href="#" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=2" alt="Course 2">
          <div class="carousel-content">
            <h3>UI/UX Design</h3>
            <p>Master the principles of design and create sleek interfaces.</p>
          </div>
        </a>

        <a href="#" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=3" alt="Course 3">
          <div class="carousel-content">
            <h3>Data Science with Python</h3>
            <p>Analyze data and build predictive models with Python.</p>
          </div>
        </a>



        <a href="#" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=2" alt="Course 2">
          <div class="carousel-content">
            <h3>UI/UX Design</h3>
            <p>Master the principles of design and create sleek interfaces.</p>
          </div>
        </a>

        <a href="#" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=3" alt="Course 3">
          <div class="carousel-content">
            <h3>Data Science with Python</h3>
            <p>Analyze data and build predictive models with Python.</p>
          </div>
        </a>





        <a href="#" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=2" alt="Course 2">
          <div class="carousel-content">
            <h3>UI/UX Design</h3>
            <p>Master the principles of design and create sleek interfaces.</p>
          </div>
        </a>

        <a href="#" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=3" alt="Course 3">
          <div class="carousel-content">
            <h3>Data Science with Python</h3>
            <p>Analyze data and build predictive models with Python.</p>
          </div>
        </a>




        <a href="#" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=2" alt="Course 2">
          <div class="carousel-content">
            <h3>UI/UX Design</h3>
            <p>Master the principles of design and create sleek interfaces.</p>
          </div>
        </a>

        <a href="#" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=3" alt="Course 3">
          <div class="carousel-content">
            <h3>Data Science with Python</h3>
            <p>Analyze data and build predictive models with Python.</p>
          </div>
        </a>
    </div>

    <!-- Controls -->
    <div class="carousel-controls">
      <button class="nav-btn" id="prevBtn">&#10094;</button>
      <button class="nav-btn" id="nextBtn">&#10095;</button>
    </div>
    </div>
    </section>


    



  {% endblock content %}










    
