<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Course Upload</title>
    <link rel="icon" href="../static/images/ede.png" type="image/png" />
    <link rel="stylesheet" href="../static/CSS/style.css" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" />
  </head>
  <body>


    
    <!-- ------------------------------Sign up Section ------------------------------------- -->

    <section class="form add-margin">
    <div class="form-main-con">
  {% with messages = get_flashed_messages(with_categories=True) %}
  {% for category, message in messages %}
    {% if message %}
      <div class="message {{ category }}">
        {{ message }}
      </div>
    {% endif %}
  {% endfor %}
{% endwith %}



<form class="form-con" action="" method="POST">


  <div class="input-group">
     <label for="address">Course Title</label>
    <input type="text"  name='title' required>
  </div>


    <div class="input-group">
        <label for="address">Coourse Description</label>
        <textarea placeholder="Description" name="description"></textarea>
    </div>

    <div class="input-group">
        <label for="address">Cover Photo</label>
        <input type="file" name="cover_photo"  required>
    </div>

    <div class="input-group">
        <label for="address">Course Content</label>
        <input type="file" name="intro_video" required>
    </div>


    <div class="input-group">
        <label for="address">Instructor Name</label>
        <input type="text" placeholder="Instructor Name" name='instructor' required>
    </div>



  


    <div class="input-group">
        <label for="address">Course Duration</label>
        <input placeholder="Course Duration" name="course_duration">
    </div>


  <div class="input-group">
    <label for="address">Price</label>
    <input type="text" placeholder="Course Price" name='price' required>
  </div>


  <div class="input-group">
    <label for="address">Date</label>
    <input type="date" placeholder="Date Uploaded" required>
  </div>




  


  
  <button type="submit">Upload course</button>
</form>

       
    </div>
    
    </section>





    <script src="{{url_for('static',  filename='JS/main.js')}}"></script>
  </body>
</html>
