<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="icon" href="{{ url_for('static', filename='images/ede.png' )}}" type="image/png" />
  <link rel="stylesheet" href="{{url_for('static', filename='CSS/style.css')}}">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/solid.css">

  <!--------------------------------LINK FOR FONT------------------------------------------------------->
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
  <!------------------------------------END------------------------------------------------------->

</head>
<body>


  <!-- Circular Transition Overlay -->
  <div class="circle-overlay"></div>














    

<!-- ----------------sid bar------------------------ -->


<section class="sidebar" id="mySidebar">
  <ul>

    
    <a href="index.html">
      <div class="s-b-logo">
        <img class="" src="../static/images/ede.png" alt="">
        <span>Excellent Digital</span>
      </div>
    </a>
      
 
    <li><a href="">Dashboard</a></li>





    <!-- -------------Drop down 1------------------------ -->
    <ul class="dropdown-btn">
      <li><a href="###">Dashboard</a>
        <i class="uis-down">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 24 24"><path fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m6 9l6 6l6-6"/></svg>
        </i>
      </li>
    </ul>




    <ul class="dropdown-container2">  
      <li><a href="">Users1</a></li>  
      <li><a href="">Users2</a></li>  
      <li><a href="">Users3</a></li>  
    </ul>  
    <!-- ----------------------------------------------------- -->




    
    <!-- -------------Drop down 1------------------------ -->
    <ul class="dropdown-btn">
      <li><a href="###">Dashboard</a>
        <i class="uis-down">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 24 24"><path fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m6 9l6 6l6-6"/></svg>
        </i>
    </li>
    </ul>

    <ul class="dropdown-container2">  
      <li><a href="">Users1</a></li>  
      <li><a href="">Users2</a></li>  
      <li><a href="">Users3</a></li>  
    </ul>  
    <!-- ----------------------------------------------------- -->


    
  </ul>
</section>




<!-- ------------------  Web page conten section  ----------------------------- -->

<section id="myContent" class="content">



<!-- ------------------  Cart section  ------------------------------- -->

<section class="cart-header">

  <div class="cart-header-main-con container-1">
    <label id="toggleBtn" class="menu-icon2">
      <i class="uil uil-bars  icon2 open"></i>
      <i class="uil uil-multiply  icon2 close"></i>
    </label>
  

    <form action="" class="cart-form">
      <input type="search" placeholder="Search">
      <button>Submit</button>
    </form>


    <!-- <a class="filter-con" href="">filter<span></span></a> -->
  
  </div>




</section>



<!-- -----------------   Dashboard heading  -------------------------- -->




<div class="dash-b-head-con container-1">

  <h1 class="">Dashboard</h1>

    <div class="delete-all">
      <a class="btn-564" href="">Home<span><i class="uil uil-angle-right"></i></span></a>
      <a class="btn-564" href="">Profile<span><i class="uil uil-angle-right"></i></span></a>

      <a class="del-btn-3" href="">
        <div class="d-b-h-btn">Logout</div>
      </a>

  </div>
</div>












<!-- -----------------   Dashboard categories  -------------------------- -->


<section class="dashboard">
    <div class="db-main-con container-1">


        <a href="">
            <div class="db-con">
                <div class="db-detail-con">
                    <h4>Users</h4>
                    <p>1,234</p>
                </div>
            </div>
        </a>



        <a href="">
            <div class="db-con">
                <div class="db-detail-con">
                    <h4>Orders</h4>
                    <p>5,678</p>
                </div>
            </div>
        </a>




        <a href="">
            <div class="db-con">
                <div class="db-detail-con">
                    <h4>Products</h4>
                    <p>2,345</p>
                </div>
            </div>
        </a>



        <a href="">
            <div class="db-con">
                <div class="db-detail-con">
                    <h4>Categories</h4>
                    <p>123</p>
                </div>
            </div>
        </a>






        <a href="">
            <div class="db-con">
                <div class="db-detail-con">
                    <h4>Users</h4>
                    <p>1,234</p>
                </div>
            </div>
        </a>



        <a href="">
            <div class="db-con">
                <div class="db-detail-con">
                    <h4>Orders</h4>
                    <p>5,678</p>
                </div>
            </div>
        </a>




        <a href="">
            <div class="db-con">
                <div class="db-detail-con">
                    <h4>Products</h4>
                    <p>2,345</p>
                </div>
            </div>
        </a>



        <a href="">
            <div class="db-con">
                <div class="db-detail-con">
                    <h4>Categories</h4>
                    <p>123</p>
                </div>
            </div>
        </a>






    </div>
</section>
















































































































































<!-- --------------------------footer-------------------------------- -->


<!-- --------------------------copy rights------------------------------- -->

<section class="copy-ryt">
  <p>&copy <span id="year"></span>, Excellent Digital Express ICT Academy </p>
</section>






<script src="{{url_for('static', filename='js/side-bar.js')}}"></script>
</body>
</html>