 {% extends "./base/base.html" %} 
    {% block head %}
      <title>Excellent Ict Academy</title>
    {% endblock head %}

    {% block content %}


    <!-- ------------------------------Hero Section ------------------------------------- -->

    <section class="hero add-hero-padding">
      <div class="hero-main-section  container-1">


        <div class="hero-detail">
          <h1>Learn Trending Tech Skills today with Excellent digital express ict academy</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi illum molestias tenetur rem harum porro nesciunt ratione, consequuntur molestiae provident.</p>

          <div class="hero-btn-con">

            <a href="">
              <div class="h-btn-1">              
                <p>Explore</p>
              </div>
            </a>


            <a href="">
              <div class="h-btn-2">
                <p>See our Courses</p>
              </div>
            </a>

          </div>

        </div>


        <div class="hero-image">
          <img src="../static/images/photo_2025-09-29_13-59-12.jpg" alt="">
        </div>

      </div>
    </section>


    
    <!-- ----------------------------------course section ---------------------------- -->

    <section class="carousel-main-con">
      <div class="carousel-container">
      <div class="carousel" id="carousel">
        <a href="viewcourse" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=1" alt="Course 1">
          <div class="carousel-content">
            <h3>Web Development Bootcamp</h3>
            <p>Learn HTML, CSS, JS, and more to become a web developer.</p>
          </div>
        </a>

        <a href="viewcourse" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=2" alt="Course 2">
          <div class="carousel-content">
            <h3>UI/UX Design</h3>
            <p>Master the principles of design and create sleek interfaces.</p>
          </div>
        </a>

        <a href="viewcourse" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=3" alt="Course 3">
          <div class="carousel-content">
            <h3>Data Science with Python</h3>
            <p>Analyze data and build predictive models with Python.</p>
          </div>
        </a>

        <a href="viewcourse" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=4" alt="Course 4">
          <div class="carousel-content">
            <h3>Mobile App Development</h3>
            <p>Build cross-platform apps with Flutter and React Native.</p>
          </div>
        </a>

        <a href="viewcourse" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=5" alt="Course 5">
          <div class="carousel-content">
            <h3>Cybersecurity Essentials</h3>
            <p>Learn to secure networks, applications, and data systems.</p>
          </div>
        </a>



        <a href="viewcourse" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=2" alt="Course 2">
          <div class="carousel-content">
            <h3>UI/UX Design</h3>
            <p>Master the principles of design and create sleek interfaces.</p>
          </div>
        </a>

        <a href="viewcourse" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=3" alt="Course 3">
          <div class="carousel-content">
            <h3>Data Science with Python</h3>
            <p>Analyze data and build predictive models with Python.</p>
          </div>
        </a>




        <a href="viewcourse" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=2" alt="Course 2">
          <div class="carousel-content">
            <h3>UI/UX Design</h3>
            <p>Master the principles of design and create sleek interfaces.</p>
          </div>
        </a>

        <a href="viewcourse" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=3" alt="Course 3">
          <div class="carousel-content">
            <h3>Data Science with Python</h3>
            <p>Analyze data and build predictive models with Python.</p>
          </div>
        </a>



        <a href="viewcourse" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=2" alt="Course 2">
          <div class="carousel-content">
            <h3>UI/UX Design</h3>
            <p>Master the principles of design and create sleek interfaces.</p>
          </div>
        </a>

        <a href="viewcourse" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=3" alt="Course 3">
          <div class="carousel-content">
            <h3>Data Science with Python</h3>
            <p>Analyze data and build predictive models with Python.</p>
          </div>
        </a>




        <a href="viewcourse" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=2" alt="Course 2">
          <div class="carousel-content">
            <h3>UI/UX Design</h3>
            <p>Master the principles of design and create sleek interfaces.</p>
          </div>
        </a>

        <a href="viewcourse" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=3" alt="Course 3">
          <div class="carousel-content">
            <h3>Data Science with Python</h3>
            <p>Analyze data and build predictive models with Python.</p>
          </div>
        </a>





        <a href="viewcourse" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=2" alt="Course 2">
          <div class="carousel-content">
            <h3>UI/UX Design</h3>
            <p>Master the principles of design and create sleek interfaces.</p>
          </div>
        </a>

        <a href="viewcourse" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=3" alt="Course 3">
          <div class="carousel-content">
            <h3>Data Science with Python</h3>
            <p>Analyze data and build predictive models with Python.</p>
          </div>
        </a>



        <a href="viewcourse" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=2" alt="Course 2">
          <div class="carousel-content">
            <h3>UI/UX Design</h3>
            <p>Master the principles of design and create sleek interfaces.</p>
          </div>
        </a>

        <a href="viewcourse" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=3" alt="Course 3">
          <div class="carousel-content">
            <h3>Data Science with Python</h3>
            <p>Analyze data and build predictive models with Python.</p>
          </div>
        </a>





        <a href="viewcourse" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=2" alt="Course 2">
          <div class="carousel-content">
            <h3>UI/UX Design</h3>
            <p>Master the principles of design and create sleek interfaces.</p>
          </div>
        </i>

        <a href="viewcourse" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=3" alt="Course 3">
          <div class="carousel-content">
            <h3>Data Science with Python</h3>
            <p>Analyze data and build predictive models with Python.</p>
          </div>
        </a>




        <a href="viewcourse" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=2" alt="Course 2">
          <div class="carousel-content">
            <h3>UI/UX Design</h3>
            <p>Master the principles of design and create sleek interfaces.</p>
          </div>
        </a>


        
        <a href="viewcourse" class="carousel-item">
          <img src="https://picsum.photos/400/200?random=3" alt="Course 3">
          <div class="carousel-content">
            <h3>Data Science with Python</h3>
            <p>Analyze data and build predictive models with Python.</p>
          </div>
        </a>
    </div>


    <!-- Controls -->
    <div class="carousel-controls">
      <button class="nav-btn" id="prevBtn">&#10094;</button>
      <button class="nav-btn" id="nextBtn">&#10095;</button>
    </div>
    </div>
    </section>




    <!-- ------------------------------Partners Section ------------------------------------- -->

    <section class="partner">
      <div class="partner-main-con container-1">


            <div class="par-img-con">
              <img src="../static/images/image-3.png" alt="">
            </div>

            <div class="par-img-con">
              <img src="../static/images/image-3.png" alt="">
            </div>



            <div class="par-img-con">
              <img src="../static/images/image-3.png" alt="">
            </div>


            <div class="par-img-con">
              <img src="../static/images/image-3.png" alt="">
            </div>



            <div class="par-img-con">
              <img src="../static/images/image-3.png" alt="">
            </div>

      </div>
    </section>




    <!-- -------------------------------Why section --------------------------------- -->


    <section class="why">
      <div class="big-title-1">
        <h1>Why Train With Us</h1>
      </div>

      <div class="why-main-con container-1">
        



        <div class="why-con">
          <div class="why-image">
            <img src="../static/images/Smiley-woman-having-a-video-call-in-the-office.png" alt="">
          </div>

          <h3>Lorem ipsum dolor sit amet consectetur.</h3>
        </div>







        <div class="why-con">
          <div class="why-image">
            <img src="../static/images/Smiley-woman-having-a-video-call-in-the-office.png" alt="">
          </div>

          <h3>Lorem ipsum dolor sit amet consectetur.</h3>
        </div>









        <div class="why-con">
          <div class="why-image">
            <img src="../static/images/Smiley-woman-having-a-video-call-in-the-office.png" alt="">
          </div>

          <h3>Lorem ipsum dolor sit amet consectetur.</h3>
        </div>











        <div class="why-con">
          <div class="why-image">
            <img src="../static/images/Smiley-woman-having-a-video-call-in-the-office.png" alt="">
          </div>

          <h3>Lorem ipsum dolor sit amet consectetur.</h3>
        </div>




      </div>
    </section>





    <!-- -------------------------------counter section --------------------------------- -->

    <section class="number-count">

      <div class="big-title-1">
        <h1 class="count-head">Our Numbers in Power</h1>
      </div>


      <div class="count-main-con container-1">


      <div class="count-con-1">
        <div class="count-con-2">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="54" viewBox="0 0 24 24"><g fill="none" stroke="#dbebfe" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M16 2v4M8 2v4m13 6c0-3.771 0-5.657-1.172-6.828S16.771 4 13 4h-2C7.229 4 5.343 4 4.172 5.172S3 8.229 3 12v2c0 3.771 0 5.657 1.172 6.828S7.229 22 11 22M3 10h18"/><path d="M18.267 18.701L17 18v-1.733M21 18a4 4 0 1 1-8 0a4 4 0 0 1 8 0"/></g></svg>
          </span>
          <h1 class="js-scroll-counter" data-count="150" data-duration="2000" data-easing="easeOutQuad">0</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
        </div>
      </div>







      <div class="count-con-1">
        <div class="count-con-2">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="54" viewBox="0 0 24 24"><g fill="none" stroke="#dbebfe" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M16 2v4M8 2v4m13 6c0-3.771 0-5.657-1.172-6.828S16.771 4 13 4h-2C7.229 4 5.343 4 4.172 5.172S3 8.229 3 12v2c0 3.771 0 5.657 1.172 6.828S7.229 22 11 22M3 10h18"/><path d="M18.267 18.701L17 18v-1.733M21 18a4 4 0 1 1-8 0a4 4 0 0 1 8 0"/></g></svg>
          </span>
          <h1 class="js-scroll-counter" data-count="3500" data-duration="2500" data-easing="linear">0</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
        </div>
      </div>









      <div class="count-con-1">
        <div class="count-con-2">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="54" viewBox="0 0 24 24"><g fill="none" stroke="#dbebfe" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M16 2v4M8 2v4m13 6c0-3.771 0-5.657-1.172-6.828S16.771 4 13 4h-2C7.229 4 5.343 4 4.172 5.172S3 8.229 3 12v2c0 3.771 0 5.657 1.172 6.828S7.229 22 11 22M3 10h18"/><path d="M18.267 18.701L17 18v-1.733M21 18a4 4 0 1 1-8 0a4 4 0 0 1 8 0"/></g></svg>
          </span>
          <h1 class="js-scroll-counter" data-count="12" data-duration="1500" data-easing="easeOutQuad"></h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
        </div>
      </div>










      <div class="count-con-1">
        <div class="count-con-2">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="54" viewBox="0 0 24 24"><g fill="none" stroke="#dbebfe" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M16 2v4M8 2v4m13 6c0-3.771 0-5.657-1.172-6.828S16.771 4 13 4h-2C7.229 4 5.343 4 4.172 5.172S3 8.229 3 12v2c0 3.771 0 5.657 1.172 6.828S7.229 22 11 22M3 10h18"/><path d="M18.267 18.701L17 18v-1.733M21 18a4 4 0 1 1-8 0a4 4 0 0 1 8 0"/></g></svg>
          </span>
          <h1 class="js-scroll-counter" data-count="3500" data-duration="2500" data-easing="linear">0</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
        </div>
      </div>










      </div>
    </section>




    <!-- -------------------------------testimonials section --------------------------------- -->


    <section class="testimonial">
      

      <div class="big-title-1">
        <h1 class="">What People Say</h1>
      </div>



      <div class="wrap">  

      <div class="track-wrap">
        <button class="arrow left" aria-label="scroll left">
          <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M15 18l-6-6 6-6" stroke-linecap="round" stroke-linejoin="round"></path></svg>
        </button>

        <div class="track" id="testimonials">
          <article class="card">
            <div class="meta">
              <img src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?q=80&w=400&auto=format&fit=crop&ixlib=rb-4.0.3&s=1a" alt="Aisha">
              <div>
                <div class="name">Aisha Bello</div>
                <div class="role">Product Designer — Lagos</div>
              </div>
            </div>
            <div class="quote">"This kit levelled up our product visuals in days. The team loved how fast we could iterate and ship."</div>
          </article>

          <article class="card">
            <div class="meta">
              <img src="https://images.unsplash.com/photo-1545996124-1b3a0b5edb5b?q=80&w=400&auto=format&fit=crop&ixlib=rb-4.0.3&s=2b" alt="Chidi">
              <div>
                <div class="name">Chidi Nnaji</div>
                <div class="role">Founder — TechStart</div>
              </div>
            </div>
            <div class="quote">"Customer conversion increased after we added the testimonial section — believable, human, and easy to read."</div>
          </article>

          <article class="card">
            <div class="meta">
              <img src="https://images.unsplash.com/photo-1544725176-7c40e5a2c9f9?q=80&w=400&auto=format&fit=crop&ixlib=rb-4.0.3&s=3c" alt="Maya">
              <div>
                <div class="name">Maya Ade</div>
                <div class="role">Marketing Lead</div>
              </div>
            </div>
            <div class="quote">"Clear layout, easy to navigate on mobile, and the drag interaction is a nice touch for touch-first users."</div>
          </article>

          <article class="card">
            <div class="meta">
              <img src="https://images.unsplash.com/photo-1547425260-76bcadfb4f2c?q=80&w=400&auto=format&fit=crop&ixlib=rb-4.0.3&s=4d" alt="Tunde">
              <div>
                <div class="name">Tunde Okoro</div>
                <div class="role">CTO — FinEdge</div>
              </div>
            </div>
            <div class="quote">"Lightweight and fast — integrates seamlessly into our landing page without blocking other elements."</div>
          </article>

          <article class="card">
            <div class="meta">
              <img src="https://images.unsplash.com/photo-1544006659-f0b21884ce1d?q=80&w=400&auto=format&fit=crop&ixlib=rb-4.0.3&s=5e" alt="Grace">
              <div>
                <div class="name">Grace N.</div>
                <div class="role">Freelance Writer</div>
              </div>
            </div>
            <div class="quote">"I love the card sizing and the smooth scrolling — feels polished and natural on mobile."</div>
          </article>

        </div>

        <button class="arrow right" aria-label="scroll right">
          <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M9 6l6 6-6 6" stroke-linecap="round" stroke-linejoin="round"></path></svg>
        </button>

        <div class="fade left"></div>
        <div class="fade right"></div>
      </div>
      </div>
    </section>





  <!-- ------------------------------Hero Section ------------------------------------- -->

    <section class="hero">
      <div class="hero-main-section container-1">


        <div class="hero-detail">
          <h1>Ready to get Started?</h1>
          <p>Join a network of our 60,000 professionals who have transform Vurig Monerixtheir lives through it</p>

          <div class="hero-btn-con">

            <a href="{{url_for('auth.signup')}}">
              <div class="h-btn-2">
                <p>Get Started</p>
              </div>
            </a>

          </div>

        </div>


        <div class="hero-image">
          <img src="../static/images/photo_2025-09-29_13-59-12.jpg" alt="">
        </div>

      </div>
    </section>




  <!-- ------------------------------footer Section ------------------------------------- -->


  <footer>
    <div class="f-main-con container-1">



      <div class="f-main-con-1">
        
        <div class="f-con">
          <h3>Company</h3>
          <a href="">About Our Academy</a>
          <a href="">Activities</a>
        </div>



        <div class="f-con">
          <h3>Trending Courses</h3>
          <a href="">Graphics Design</a>
          <a href="">AutoCard</a>
          <a href="">Web development</a>
        </div>



        
        <div class="f-con">
          <h3>Join Us</h3>
          <a href="">Online Instructor</a>
          <a href="">Employment opportunities</a>
        </div>




        <div class="f-con">
          <h3>Support</h3>
          <a href="">Privacy Policy</a>
          <a href="">Terms of Use</a>
          <a href="">FAQ</a>
          <a href="">Contact Us</a>
        </div>
      </div>



      <div class="f-main-con-2">

        <p>&copy; <span id="year"></span>, Excellent Digital Express ICT Academy </p>

        <div class="f-social-con">
          <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24"><path fill="#60a8fa" fill-rule="evenodd" d="M15.725 22v-7.745h2.6l.389-3.018h-2.99V9.31c0-.874.243-1.47 1.497-1.47h1.598v-2.7a21 21 0 0 0-2.33-.12c-2.304 0-3.881 1.407-3.881 3.99v2.227H10v3.018h2.607V22H3.104C2.494 22 2 21.506 2 20.896V3.104C2 2.494 2.494 2 3.104 2h17.792C21.506 2 22 2.494 22 3.104v17.792c0 .61-.494 1.104-1.104 1.104z"/></svg></a>
          <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24"><path fill="#60a8fa" fill-rule="evenodd" d="M5 1a4 4 0 0 0-4 4v14a4 4 0 0 0 4 4h14a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4zm7 3.5a7.5 7.5 0 0 0-6.56 11.14l-.667 3.587l3.588-.668A7.5 7.5 0 1 0 12 4.5m-1.947 3.38c-.32-.016-.916.024-1.362.47c-.727.727-.735 1.869-.45 2.907c.29 1.057.914 2.135 1.64 2.861c.728.727 1.805 1.35 2.862 1.641c1.038.285 2.18.277 2.907-.45c.446-.446.486-1.04.47-1.362a.88.88 0 0 0-.384-.67l-.91-.65a1.02 1.02 0 0 0-1.317.11l-.46.459c-.37-.152-.967-.458-1.377-.868s-.716-1.007-.867-1.377l.459-.46c.353-.353.4-.91.11-1.317l-.65-.91a.88.88 0 0 0-.67-.385Z" clip-rule="evenodd"/></svg></a>
          <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24"><path fill="#60a8fa" fill-rule="evenodd" d="M5 1a4 4 0 0 0-4 4v14a4 4 0 0 0 4 4h14a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4zm7.34 3.5h2.387c0 1.6 1.352 3.41 3.41 3.41v2.386c-1.417-.098-2.628-.33-3.41-1.023v6.136c0 1.705-1.348 4.091-4.431 4.091c-3.766 0-4.432-3.41-4.432-4.432s.6-4.432 4.772-4.432v2.387c-1.091-.231-2.386.681-2.386 2.045c0 1.705 1.023 2.046 2.046 2.046s2.045-1.023 2.045-2.046z" clip-rule="evenodd"/></svg></a>
          <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="25" viewBox="0 0 16 16"><path fill="#60a8fa" d="M8 5.67C6.71 5.67 5.67 6.72 5.67 8S6.72 10.33 8 10.33S10.33 9.28 10.33 8S9.28 5.67 8 5.67M15 8c0-.97 0-1.92-.05-2.89c-.05-1.12-.31-2.12-1.13-2.93c-.82-.82-1.81-1.08-2.93-1.13C9.92 1 8.97 1 8 1s-1.92 0-2.89.05c-1.12.05-2.12.31-2.93 1.13C1.36 3 1.1 3.99 1.05 5.11C1 6.08 1 7.03 1 8s0 1.92.05 2.89c.05 1.12.31 2.12 1.13 2.93c.82.82 1.81 1.08 2.93 1.13C6.08 15 7.03 15 8 15s1.92 0 2.89-.05c1.12-.05 2.12-.31 2.93-1.13c.82-.82 1.08-1.81 1.13-2.93c.06-.96.05-1.92.05-2.89m-7 3.59c-1.99 0-3.59-1.6-3.59-3.59S6.01 4.41 8 4.41s3.59 1.6 3.59 3.59s-1.6 3.59-3.59 3.59m3.74-6.49c-.46 0-.84-.37-.84-.84s.37-.84.84-.84s.84.37.84.84a.8.8 0 0 1-.24.59a.8.8 0 0 1-.59.24Z"/></svg></a>
        </div>

      </div>


    </div>
  </footer>

    



  {% endblock content %}










    
