<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="icon" href="../static/images/ede.png" type="image/png" />
    <link rel="stylesheet" href="../static/CSS/style.css" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" />
  </head>
  <body>


    
    <!-- ------------------------------Sign up Section ------------------------------------- -->

    <section class="form add-margin">

    <div class="form-main-con">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if message %}
            {% for category, message in messages %}
        <div class="message success">
            
            <div class="alert alert-{{ category }}">{{ message }}</div>
        </div>
        {% endfor %}
        {% endif %}
    {% endwith %}
    
        <h3>SignUp</h3>

        <form class="form-con" action="{{ url_for('auth.signIn')}}" methods="post">
            
            <div class="input-group">
                <input type="text" id="name" placeholder="First name" name="first_name" required>
            </div>


            <div class="input-group">
                <input type="text" id="name" placeholder="Last name" name="last_name" required>
            </div>

            <div class="input-group">
                <input type="email" id="email" placeholder="Email" name="email" required>
            </div>


            <div class="input-group">
                <input type="text" id="phone" placeholder="Phone number" name="phone" required>
            </div>

        


            <div class="input-group">
                <div class="password-con">
                    <input type="password" placeholder="Password" name="password" required>
                     <span class="toggle-btn" onclick="togglePassword()">
                        <I id="toggle-icon" class="fas fa-eye"></i>
                    </span>
                </div>
            </div>




            <div class="input-group">
                <div class="password-con">

                    <input type="password" id="password" placeholder="Confirm Password" name="password" required>

                    <span class="toggle-btn" onclick="togglePassword()">
                        <I id="toggle-icon" class="fas fa-eye"></i>
                    </span>

                </div>
            </div>



            <div class="input-box">
                <input type="checkbox" required>
                <p>I agree to terms</p>
            </div>


            <button>SignUp</button>
        </form>

        <p>Already have an account? <a href="{{url_for('auth.signIn')}}">SignIn</a></p>
    </div>
    
    </section>





    <script src="{{url_for('static',  filename='JS/main.js')}}"></script>
  </body>
</html>
