<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Update Profile</title>
  <link rel="icon" href="{{ url_for('static', filename='images/ede.png') }}" type="image/png" />
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}" />
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" />
</head>
<body>

<section class="form add-margin">
  <div class="form-main-con">

    {% with messages = get_flashed_messages(with_categories=True) %}
      {% for category, message in messages %}
        {% if message %}
          <div class="message {{ category }}">
            {{ message }}
          </div>
        {% endif %}
      {% endfor %}
    {% endwith %}

    <h3>Update Profile</h3>

    <form class="form-con" action="{{ url_for('auth.update_profile') }}" method="POST" enctype="multipart/form-data">
      <div class="input-group">
        <label for="avatar">Upload Image</label>
        <input type="file" id="avatar" name="avatar_url" accept="image/*">
      </div>

      <div class="input-group">
        <label for="country">Country Of Origin</label>
        <input type="text" id="country" name="country_of_origin" placeholder="Country Of Origin" required>
      </div>

      <div class="input-group">
        <label for="state">State Of Origin</label>
        <input type="text" id="state" name="state_of_origin" placeholder="State Of Origin" required>
      </div>

      <div class="input-group">
        <label for="LG">LG Of Origin</label>
        <input type="text" id="LG" name="LG_of_origin" placeholder="LG Of Origin" required>
      </div>

      <div class="input-group">
        <label for="country_residence">Country of Residence</label>
        <input type="text" id="country_residence" name="country_of_residence" placeholder="Country of Residence" required>
      </div>

      <div class="input-group">
        <label for="address">State Of Residence</label>
        <input type="text" id="address" name="state_of_residence" placeholder="State Of Residence" required>
      </div>

      <div class="input-group">
        <label for="LGA">LG of Residence</label>
        <input type="text" id="LGA" name="LG_of_residence" placeholder="LG of Residence" required>
      </div>

      
      <div class="input-group">
        <label for="LGA">Address</label>
        <input type="text" id="LGA" name="address" placeholder="Home Address" required>
      </div>

      <div class="input-group">
        <label for="bio">Bio</label>
        <textarea name="bio" id="bio" rows="3" placeholder="Tell us something about you..."></textarea>
      </div>

      <button type="submit">Submit</button>
    </form>

    <a href="{{ url_for('main.Profile') }}">Back to Profile</a>
  </div>
</section>

<script src="{{ url_for('static', filename='JS/main.js') }}"></script>
</body>
</html>
